@charset "UFT-8";

@font-face {
    font-family: 'cab';
    src: url('../fontes/PassionOne-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'sec';
    src: url('../fontes/Sriracha-Regular.ttf') format('truetype');
}

*{
    margin: 0%;
    padding: 0%;
}

html, body{
    min-height: 100vh;
    background-color: aqua;
}

header{
    background-color: #000000;
    color: aliceblue;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: 'cab';
}

header > p{
    padding-bottom: 50px;
}

a{
    text-decoration: none;
    color: aliceblue;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
}

section > p{
    line-height: 95px;
    font-family: 'sec';
    font-size: 47px;
    padding-bottom: 1.5em;
}

.normal{
    background-color: #fcffff;
}

.img{
    background-color: aqua;
}

.img > p{
    background-color: #00000084;
    width: 600px;
    color: #fcffff;
    padding: 5px;
}

.img#fl{
    background-image: url('../imagens/background001.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.img#liv{
    background-image: url('../imagens/background002.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

footer{
    text-align: center;
    background-color: #000000;
    color: #fcffff;
    padding: 10px;
}